*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Calibri;
}
div#cover{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	background: #d6e4e8;
	position: fixed;
	/*z-index: 100;*/
}
#leftPane{
	height: 100%;
	width: 50%;
	background: #d6e4e8;
	float: left;
	position: relative;
	/*display: inline-block;*/
	text-align: center;
}
#leftPane img{
	height: 100%;
	display: inline;
}
#rightPane{
	height: 100%;
	width: 50%;
	background: #d6e4e8;
	float: left;
	position: relative;
	/*display: inline-block;*/
}
.paneContent{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
div#content-box{
	/*margin-top:100%;*/
	position: absolute;
	top: 100%;
	background: #fff;
	width: 100%;
	min-height: 100vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky + #content {
  margin-top: 40px;
}
#content-box nav{
	display: block;
	background: #d6e4e8;
	height: 40px;
	text-align: center;
	border: black solid;
	border-top-width: 1px;
	border-bottom-width: 0px;
}
#content-box nav ul{
	display: inline-block;
}
#content-box nav ul li{
	float: left;
	list-style: none;
	/*background: blue;*/
	height: 40px;
	/*padding: px 0px;*/
	/*vertical-align: middle;*/
	padding: 10px;
	box-sizing: border-box;
}
#content-box nav ul li:hover{
	background: #fff;
}
#content-box #content{
	padding: 2% 10%;
}
#content-box #content #description{
	font-size: 1.3em;
}
#content-box #content .page{
	display: none;
}
#content-box .tab.active{
	background: #fff;
}
#content-box #content .page.active{
	display: block;
}


@media (max-width: 1000px){
	div#cover{
		width: 100%;
		height: 100vh;
		margin: 0 auto;
		padding: 0;
		background: #d6e4e8;
		position: fixed;
		/*z-index: 100;*/
	}
	#leftPane{
		height: 100%;
		width: 100%;
		background: #d6e4e8;
		/*float: left;*/
		position: relative;
		display: inline-block;
		text-align: center;
	}
	#leftPane img{
		height: 100%;
		display: inline;
	}
	#rightPane{
		height: 50%;
		width: 50%;
		background: rgba(184,228,232,0.3);
		/*background: #d6e4e8;*/
		/*float: left;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*display: inline-block;*/
	}
}

div.tile{
	min-height: 500px;
	box-shadow: 10px 10px 10px 10px darkgray;
	border: 1px solid black;
	margin: 40px;
	padding: 20px;
	/*text-align: center;*/
	background: #d6e4e8;
	position: relative;

}

div.tile .half{
	background: white;
	min-height: 500px;
	position: relative;

}
div.tile .half img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 500px;
	max-width: 90%;
}

div.tile .half:nth-child(odd){
	box-sizing: border-box;
	padding: 20px;
	width: 70%;
	height: inherit;
	background: white;

}
div.desc-tile{
	position: absolute;
	width: 80%;
	padding: 20px;
}

div.tile .half h4{
	/*margin: 20px;*/
}
div.tile .half:nth-child(even){
	width: 30%;
}

div.tile:nth-child(odd) .half{
	float: left;
}

div.tile:nth-child(even) .half{
	float: right;
}

div.position{
	font-style: italic;
	margin-bottom: 10px;
}