:root {
  --bg: #ffde59;
  --border: #ff914d;
  --text: #ff914d;
}


*{
	padding: 0;
	margin: 0;
}
body.body{
	font-family:  Jazz LET !important;
	
	background: var(--bg); 
	/*background-image: url("../images/bg.jpeg");*/
	background-size: contain;
	/*background-attachment: */
	color: var(--text);

}


div.container{
	width: 100%;
	/*text-shadow: 1px 1px 1px #bf510d, -1px -1px 1px #bf510d, 1px -1px 1px #bf510d, -1px 1px 1px #bf510d;*/
	/*text-shadow: 1px 1px 1px #775600, 2px 2px 1px #aa8900;*/
	letter-spacing: 1px;
}
/*.tile{
	border-bottom: 1px solid var(--border);
	border-left: 1px solid var(--border);
}*/

div#row-1{
	/*box-shadow: 1px 1px 5px var(--border);*/
	box-shadow: 1px 1px 1px #aa8900, 3px 3px 10px #aa8900;
	/*background: rgba(0,0,0,0.2);*/
}


div#row-1 #name{
	color: var(--bg);
	background: var(--border);
	font-weight: 900;
	font-size: 1.5em;
} 
div#row-1 #mode{
	color: var(--bg);
	background: var(--border);
}
div#row-1 #mode p{
	padding: 25px 0;
}

div#row-1 #mode svg path{
	stroke: var(--bg);
	stroke-width: 1px;
}

div#row-1 .tile{
	font-size: 1.5em;
	text-align: center;
	height: 75px;
	border-bottom: 1px solid var(--border);
	border-left: 1px solid var(--border);
}

div#row-1 .tile p{
	height: 75px;
	padding: 25px;
	margin:0;
}

div#row-2 .tile{
	height: 350px;
	text-align: left;
}
div#row-2 .tile h1{
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
	background: #ede29e;
	padding: 10px;
	margin: 0;
	border-radius: 0 0 5px 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 85%;
	font-weight: 700;
	box-shadow: 1px 1px 1px #aa8900, 3px 3px 10px #aa8900;
	/*font-style: italic;*/
}
div#row-2 .tile h1 hr{
	margin:0;
	border-top: 1.5px solid #3ea7f8;

}

div#hi{
	font-size: 1.7em;
	font-style: normal;

}
div#welcome{
	font-size: 1.1em;
	font-weight: 400;
	font-style: normal;

}
div#tomy{
	font-size: 1.1em;
	font-weight: 400;
	font-style: normal;

}
div#digitalhome{
	font-size: 1.2em;
	font-style: normal;

}

div#row-2 .tile div.img-outline{
	border: 2px solid var(--border);
	/*height: 200px;*/
	width: 210px;
	height: 210px;
	padding: 3px;
	box-sizing: content-box;
	border-radius: 50%;
	/*overflow: hidden;*/
	background: rgba(255,145,77,0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 0px 5px var(--border);
}

div#row-2 .tile .img-container{
	/*height: 200px;*/
	border: 2px solid var(--border);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	/*background: red;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

div#row-2 .tile img{
	/*height: 200px;*/
	width: 200px;
	/*position: absolute;*/
	/*top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);*/
}


div#row-3 .tile{
	height: 300px;
	text-align: center;
	position: relative;
}
div#row-3 .tile .post{
	background: var(--border);
	width: 80%;
	/*margin-top: 10%;*/
	height: 80%;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--bg);
	text-shadow: none;
	box-shadow: 1px 1px 1px #aa8900, 3px 3px 3px #aa8900;
}

.post .post-text.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform: rotateX(-45deg)
  font-style: normal;
}

div#row-4 p{
	position: fixed;
	bottom: 0%;
	text-align: center;
	width: 100%;
	padding: 20px;
	left: 0%;
	box-shadow: 1px 1px 1px #aa8900, 3px 3px 10px #aa8900;
	border-top: 1px solid var(--border);
	margin:0;
}

/*div#cover{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	background: #d6e4e8;
	position: fixed;
	/*z-index: 100;
}
#leftPane{
	height: 100%;
	width: 50%;
	background: #d6e4e8;
	float: left;
	position: relative;
	display: inline-block;
	text-align: center;
}
#leftPane img{
	height: 100%;
	display: inline;
}
#rightPane{
	height: 100%;
	width: 50%;
	background: #d6e4e8;
	float: left;
	position: relative;
	display: inline-block;
}
.paneContent{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
div#content-box{
	margin-top:100%;
	position: absolute;
	top: 100%;
	background: var(--text);
	width: 100%;
	min-height: 100vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky + #content {
  margin-top: 40px;
}
nav{
	display: block;
	background: #d6e4e8;
	height: 40px;
	text-align: center;
	border: black solid;
	border-top-width: 1px;
	border-bottom-width: 0px;
}*/
nav ul{
	display: inline-block;
	margin: 0;
}
nav ul li{
	float: left;
	list-style: none;
	/*background: blue;*/
	height: 75px;
	width: 200px;
	/*padding: px 0px;*/
	/*vertical-align: middle;*/
	padding: 25px;
	box-sizing: border-box;
}
nav ul li:hover{
	background: var(--border);
	color: var(--bg);
	text-decoration: underline;
}
/*#content-box #content{
	padding: 2% 10%;
}
#content-box #content #description{
	font-size: 1.3em;
}
#content-box #content .page{
	display: none;
}
#content-box .tab.active{
	background: var(--text);
}
#content-box #content .page.active{
	display: block;
}
*/

@media (max-width: 1000px){
	div#cover{
		width: 100%;
		height: 100vh;
		margin: 0 auto;
		padding: 0;
		background: #d6e4e8;
		position: fixed;
		/*z-index: 100;*/
	}
	#leftPane{
		height: 100%;
		width: 100%;
		background: #d6e4e8;
		/*float: left;*/
		position: relative;
		display: inline-block;
		text-align: center;
	}
	#leftPane img{
		height: 100%;
		display: inline;
	}
	#rightPane{
		height: 50%;
		width: 50%;
		background: rgba(184,228,232,0.3);
		/*background: #d6e4e8;*/
		/*float: left;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*display: inline-block;*/
	}
}

/*div.tile{
	min-height: 500px;
	box-shadow: 10px 10px 10px 10px darkgray;
	border: 1px solid black;
	margin: 40px;
	padding: 20px;
	text-align: center;
	background: #d6e4e8;
	position: relative;

}*/

/*div.tile .half{
	background: white;
	min-height: 500px;
	position: relative;

}
div.tile .half img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 500px;
	max-width: 90%;
}

div.tile .half:nth-child(odd){
	box-sizing: border-box;
	padding: 20px;
	width: 70%;
	height: inherit;
	background: white;

}
div.desc-tile{
	position: absolute;
	width: 80%;
	padding: 20px;
}

div.tile .half h4{
	/*margin: 20px;
}
div.tile .half:nth-child(even){
	width: 30%;
}

div.tile:nth-child(odd) .half{
	float: left;
}

div.tile:nth-child(even) .half{
	float: right;
}

div.position{
	font-style: italic;
	margin-bottom: 10px;
}*/
